[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Vimb
GenericName=Web Browser
Comment=The Vim-like browser
Exec=vimb %U
Icon=
Categories=Network;WebBrowser;GTK;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
