*{margin:0;padding:0}
html{background-color:#e0ddda}
body{color:#333;font-family:"Dejavu sans-serif",sans-serif;line-height:1.5em}
#content{background-color:#fff;margin:1em auto 2em;max-width:60em;border:1px solid #ccc;box-shadow:.52em .52em 1.3em #d0cdca}
#nav{font-size:1.3em;padding-bottom:1.5em}
#nav ul{margin:0;padding:0;display:block;width:100%}
#nav li{list-style:none;float:left;width:25%;margin:0;padding:0}
#nav li a{text-align:center;display:block;padding:.2em .5em;border-bottom:1px solid #ccc;border-right:1px solid #ccc;height:1.5em;top:.1em;background-color:#f4f4f4}
#nav li:last-child a{border-right-width:0}
#nav li.active a{background-color:#fff;border-bottom-width:0;color:#555}
#nav+*{clear:left}
#footer{margin:0 .5em 1em;display:block;text-align:center}
.main{padding:1em 4em 2.5em}
h1,h2,h3{font-family:inherit;font-weight:bolder;padding:.5em 0 .2em;margin-bottom:.3em;color:#555}
h1{padding-top:.8em}
h1{font-size:2em}
h2{font-size:1.5em;border-bottom:1px solid #ccc;margin-bottom:.8em}
h3{font-size:1em}
em{font-style:italic}
p,pre,ul,ol,dl{margin-bottom:1em}
ul,ol{list-style-position:outside;margin:0 0 0 1.5em}
h1+ul{margin-top:1.5em}
ul li{list-style-type:square}
ol li{list-style-type:decimal}
li{line-height:1.5em;padding-left:.5em}
img{border:1px solid #ddd;max-width:100%;padding:0 0 1em 0}
pre{line-height:1.7em;background:#f7f7f7;border:1px solid #ddd;box-shadow:.26em .26em .65em #eee;padding:.2em .4em;overflow:auto}
code{font-family:monospace;color:#777;white-space:pre}
a,a:link{color:#4183C4;text-decoration:none;outline:none}
a[href^="http://"]:after,a[href^="https://"]:after{content:"\2197"}
a:visited{color:#9c20ee}
a:focus,a:hover{text-decoration:underline}
table{border-collapse:collapse}
th,td{border:1px solid #ccc;padding:.3em}
th{background-color:#eee}
hr{border-top:1px solid #ccc;width:100%}
dl{width:100%}
dd{margin:0 0 .4em 3em}
@media screen and (max-width:38em){
#content{margin:0}
#nav ul>li{width:100%}
#nav li a{border-right-width:0;text-align:left;padding:0 .5em}
#nav li~li a{border-top-width:0}
#nav li.active a{border-bottom-width:1px}
.main{padding:1em .5em}
}
