---
# scss styles
---
$left-wdith: 10rem;
$right-width: 46rem;
$max-width: 56rem;

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #fff;
    color: #000;
    font-family: "Dejavu sans-serif",Verdana,Geneva,sans-serif;
    margin: 0 1rem;
}

body {
    margin: 0 auto;
    width: $max-width;
}

article {
    text-rendering: optimizeLegibility;
    float: right;
    max-width: $right-width;
    margin-bottom: 1rem;
}

footer {
    width: $left-wdith;
    position: fixed;
    bottom: 1rem;
    float: left;
}

nav {
    position: fixed;
    float: left;
    width: $left-wdith;
    margin-top: 1rem;
    font-size: x-large;
    ul {
        margin: 0;
        padding-inline-start: 0;
        li {
            list-style: none;
            padding: 0 0 0 .3rem;
            margin-bottom: .3rem;
            border: .1rem solid transparent;
            border-width: 0 0 0 .2rem;
        }

        li.active {
            color: #444;
            border-color: #444;
        }
    }
}

@media screen and (max-width: 960px) {
    body {
        margin: 0;
        width: auto;
    }
    article {
        margin-left: $left-wdith;
    }
}

@media screen and (max-width: 560px) {
    body {
        word-wrap: break-word;
    }
    nav, article, footer {
        float: none;
        position: static;
        width: auto;
        margin-left: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dejavu serif",Palatino,serif;
}

h1, h2, h3 {
    font-weight: bolder;
    color: #444;
    margin: 1rem 0 .8rem;
    background-clip: content-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}

h3 {
    font-size: 1.2rem;
}

em {
    font-style: italic;
}

p, pre, ul, ol, dl {
    margin: 1rem 0;
}

ul, ol {
    list-style-position: outside;
    margin: 0 0 0 1.5rem;
}

ul li {
    list-style-type: square;
}

ol li {
    list-style-type: decimal;
}

li {
    padding-left: .5rem;
}

img {
    border: 1px solid #ddd;
    max-width: 100%;
    margin: .5rem 0;
    height: auto;
}

pre {
    font-size: .9rem;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: .2rem .4rem;
    white-space: pre-wrap;
}

code {
    font-family: "Dejavu sans mono","Lucida Console",Monaco,monospace;
    color: #077;
    overflow-wrap: break-word;
}

pre > code {
    color: #333;
}

a, a:link {
    color: #01579f;
    text-decoration: none;
}

a[href^="http"]:after {
    content: "\279A";
}

a:focus, a:hover {
    color: #0181eb;
}

dl {
    width: 100%;
}

dd {
    margin: 0 0 .4em 3rem;
}

p.warning {
    display: block;
    border: 1px solid red;
    background-color: #fc0;
    padding: .5rem;
}

#markdown-toc {
    margin: 0 0 1rem;
    li {
        list-style-type: none;
        padding-left: 0;
    }
}

.err {
    color: #a61717;
    background-color: #e3d2d2;
}

.k, .o, .kc, .kd, .kn, .kp, .kr, .ow {
    color: #000;
    font-weight: bold;
}

.c, .cm, .c1 {
    color: #4a4a4a;
    font-style: italic;
}

.cp, .cs {
    color: #4c4c4c;
    font-weight: bold;
}

.gd, .gi {
    color: #000;
    background-color: #dfd;
}

.ge {
    color: #000;
    font-style: italic;
}

.gr, .gt {
    color: #a00;
}

.gh {
    color: #4a4a4a;
}

.go {
    color: #888;
}

.gp, .nn {
    color: #444;
}

.gs {
    font-weight: bold;
}

.gu {
    color: #aaa;
}

.kt, .nc {
    color: #458;
    font-weight: bold;
}

.nb {
    color: #005774;
}

.nd {
    color: #3c5d5d;
    font-weight: bold;
}

.ni {
    color: #800080;
}

.ne, .nf, .nl {
    color: #900;
}

.w {
    color: #bbb;
}

.bp, .il, .m, .mf, .mh, .mi, .mo {
    color: #004b4b;
}

.s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
    color: #d01040;
}

.sr {
    color: #009926;
}

.ss {
    color: #990073;
}

.na, .no, .nv, .vc, .vg, .vi {
  color: #008080;
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: #363431;
        color: #FFF;
    }
    a, a:link {
        color: #88B9FF;
    }
    a:visited {
        color: #88B9FF;
    }
    a:focus, a:hover {
        color: #2A8DF8;
    }
    h1, h2, h3 {
        color: #B5B5B5;
    }
    code {
        color: #A0B5B5;
    }
    pre {
        background-color: #232323;
        border-color: #343434;
        > code {
            color: #D9DFDF;
        }
    }
    nav {
        ul {
            li.active {
                color: #B5B5B5;
                border-color: #B5B5B5;
            }
        }
    }

    .nt {
        color: #fff;
    }
    .k, .o, .kc, .kd, .kn, .kp, .kr, .ow {
        color: #fff;
    }
    .ne, .nf, .nl {
        color: #f84;
    }
    .bp, .il, .m, .mf, .mh, .mi, .mo, .nb {
        color: #99D8D6;
    }
    .cp, .cs {
        color: #C0C0C0;
    }
    .nd {
        color: #97BABA;
    }
    .c, .cm, .c1 {
        color: #C2C2C2;
    }
    .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
        color: #FF5050;
    }
}
