---
# scss styles
---
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #e0ddda;
}

body {
  color: #000;
  font-family: "Dejavu sans-serif",Verdana,Geneva,sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  margin: 1em auto 2em;
  max-width: 60em;
  min-width: 20em;
  border: 1px solid #ccc;
  box-shadow: 0 0 2em #d0cdca;
  position: relative;
}

main {
  padding: 3em 8% 2.5em;
}

footer {
  margin: 0 .5em 1em;
  display: block;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dejavu serif",Palatino,serif;
}

h1, h2, h3 {
  font-weight: bolder;
  color: #555;
  margin: 1em 0 .8em;
  background-clip: content-box;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: large;
}

em {
  font-style: italic;
}

p, pre, ul, ol, dl {
  margin: 1em 0;
}

ul, ol {
  list-style-position: outside;
  margin: 0 0 0 1.5em;
}

ul li {
  list-style-type: square;
}

ol li {
  list-style-type: decimal;
}

li {
  padding-left: .5em;
}

img {
  border: 1px solid #ddd;
  max-width: 100%;
  margin: .5em 0;
  height: auto;
}

pre {
  font-size: .9em;
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: .2em .4em;
  white-space: pre-wrap;
}

code {
  font-family: "Dejavu sans mono","Lucida Console",Monaco,monospace;
  color: #666;
  overflow-wrap: break-word;
}

pre > code {
  color: #333;
}

a, a:link {
  color: #01579f;
  text-decoration: none;
}

a[href^="http"]:after {
  content: "\279A";
}

a:visited {
  color: #751590;
}

a:focus, a:hover {
  color: #0181eb;
}

dl {
  width: 100%;
}

dd {
  margin: 0 0 .4em 3em;
}

p.warning {
  display: block;
  border: 1px solid red;
  background-color: #fc0;
  padding: .5em;
}

nav {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  padding: 0 0 1em;
  ul {
    font-size: x-large;
	margin: 0;
    overflow: hidden;
    display: flex;
	li {
	  list-style: none;
	  float: left;
	  width: 33.33%;
	  padding: 0;
      * {
        text-align: center;
        display: block;
        padding: .4em 0 .1em;
        border: solid #ccc;
        border-width: 0 1px 1px 0;
        height: 1.5em;
        top: .1em;
        background-color: #f4f4f4;
      }
	}
  }

  li:last-child * {
	border-right-width: 0;
  }

  li.active * {
	background-color: #fff;
	color: #555;
	border-right-width: 0;
	border-bottom-width: 0;
  }

  li.active + li * {
	border-left-width: 1px;
  }
}

.nogui {
  position: absolute;
  left: -1000em;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#markdown-toc {
  margin: 0 0 1em;
  li {
	list-style-type: none;
	padding-left: 0;
  }
}

@media screen and (max-width: 60em) {
  body {
    margin-bottom: 0;
  }
  nav {
    font-size: large;
    max-width: none;
  }
}

.err {
  color: #a61717;
  background-color: #e3d2d2;
}

.k, .o, .kc, .kd, .kn, .kp, .kr, .ow {
  color: #000;
  font-weight: bold;
}

.c, .cm, .c1 {
  color: #4a4a4a;
  font-style: italic;
}

.cp, .cs {
  color: #4c4c4c;
  font-weight: bold;
}

.gd, .gi {
  color: #000;
  background-color: #dfd;
}

.ge {
  color: #000;
  font-style: italic;
}

.gr, .gt {
  color: #a00;
}

.gh {
  color: #4a4a4a;
}

.go {
  color: #888;
}

.gp, .nn {
  color: #555;
}

.gs {
  font-weight: bold;
}

.gu {
  color: #aaa;
}

.kt, .nc {
  color: #458;
  font-weight: bold;
}

.nb {
  color: #005774;
}

.nd {
  color: #3c5d5d;
  font-weight: bold;
}

.ni {
  color: #800080;
}

.ne, .nf, .nl {
  color: #900;
}

.nt {
  color: #000080;
}

.w {
  color: #bbb;
}

.bp, .il, .m, .mf, .mh, .mi, .mo {
  color: #004b4b;
}

.s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
  color: #d01040;
}

.sr {
  color: #009926;
}

.ss {
  color: #990073;
}

.na, .no, .nv, .vc, .vg, .vi {
  color: #008080;
}
