<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="last-modified" content="{{ site.time | date: "%Y-%m-%d@%H:%M:%S %Z" }}" />
<meta name="description" content="{{ page.meta }}" />
<meta name="robots" content="index,follow" />
<link rel="stylesheet" type="text/css" href="theme/main.css" />
</head>
<body>
<div id="content">
<div id="navi">
  <ul>
    <li{% if page.active == "home" %} class="active"{% endif %}><a href="./">home</a></li>
    <li{% if page.active == "screenshots" %} class="active"{% endif %}><a href="screenshots.html">screenshots</a></li>
    <li{% if page.active == "commands" %} class="active"{% endif %}><a href="commands.html">commands</a></li>
    <li{% if page.active == "keybindings" %} class="active"{% endif %}><a href="keybindings.html">keybindings</a></li>
  </ul>
</div>
{{ content }}
</div>
</body>
</html>
