<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8"/>
  <meta name="description" content="{{ page.meta }}"/>
  <meta name="robots" content="index,follow"/>
  <meta name="author" content="Daniel Carl"/>
  <link rel="stylesheet" type="text/css" href="theme/main.css"/>
</head>
<body>
<div id="page">
<nav>
  <ul>
    <li{% if page.active == "home" %} class="active"{% endif %}><a href="./">home</a></li>
    <li{% if page.active == "man" %} class="active"{% endif %}><a href="man.html">manual</a></li>
    <li{% if page.active == "faq" %} class="active"{% endif %}><a href="faq.html">faq</a></li>
    <li{% if page.active == "scripts" %} class="active"{% endif %}><a href="scripts.html">scripts</a></li>
  </ul>
</nav>
<div id="content">
{{ content }}
</div>
<footer><a href="#page" title="to top">&#9650; top</a></footer>
</div>
</body>
</html>
