<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8"/>
  <meta name="description" content="{{ page.meta }}"/>
  <meta name="robots" content="index,follow"/>
  <meta name="author" content="Daniel Carl"/>
  <link rel="stylesheet" type="text/css" href="theme/main.css"/>
</head>
<body>
<div id="page">
<a href="#content" class="skip">skip to content</a>
<nav>
  <ul>
    <li{% if page.active == "home" %} class="active"><span>home</span>{% else %}><a href="./">home</a>{% endif %}</li>
    <li{% if page.active == "man" %} class="active"><span>manual</span>{% else %}><a href="man.html">manual</a>{% endif %}</li>
    <li{% if page.active == "faq" %} class="active"><span>faq</span>{% else %}><a href="faq.html">faq</a>{% endif %}</li>
    <li{% if page.active == "scripts" %} class="active"><span>scripts</span>{% else %}><a href="scripts.html">scripts</a>{% endif %}</li>
  </ul>
</nav>
<div id="content">
{{ content }}
</div>
<footer><a href="#page" title="to top">&#9650; top</a></footer>
</div>
</body>
</html>
